html {
    scroll-behavior: smooth;
}

body {
    font-family: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
    font-weight: normal;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


body header, body footer, body main {
    margin: 2vh 0;
    width: min(820px, 90vw);
}

body main {
    flex-grow: 2;
}

h1, h2 {
    margin-bottom: 1em;
}

h2 {
    margin-top: 2em;
}

p + p {
    margin-top: 1em;
}

.icon {
    color: transparent;
    text-shadow: 0 0 #000;
}

.projectList {
    margin: 1em 0;
}

.projectList li {
    margin-bottom: 1em;
}

.projectList a, .projectList.planned li {
    display: block;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 5px;
    margin: -5px;
    padding: 1em;
}

.projectList a:hover {
    box-shadow: 0 0 10px #000000aa;
}

.projectList.planned li {
    border-color: #aaa;
}

.projectList h2 {
    margin-top: 0;
}

a:hover {
    text-decoration: none;
}

a[href^="https://"]::after {
    content: " ";
    display: inline-block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAEAAQMAAABmvDolAAAACXBIWXMAAAsSAAALEgHS3X78AAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlP9AaCGYl4AAAJuSURBVGje7dnLba0wEIBhIxYsKYF0Qiu3EyiNUiiB7FhYEIwBz8szSLnKIjGbhJNPifl55GiO243NFVBAAX8dTO7aumNni99C4O+fu+bYW5O9wfKAKu21AIwPCC/M6ZfdIP3cDc+C6gQ8BmP6axdYAeglMGMAlnOByQLgIMLRc+C+CzZnrMFbYHVihwwYBLA48VwkAEO63QDgepBBDdb0AHgqWtAFgopczDMC43WBgm2ioCdgpIDdLwbYMOBr9BTUBKwWWCwwU9BIGTQwWsAZYLOAt8BqgcUCIcOHBkKGfxoIGWYNhKtbAyFDrYGQodFAyNBqIGToNBAy9BoIGQYNhAy7Bs6bXAFnBg2cGTRwZtDAmUEDZwYNnBk0cGbQQHzWzeA/DgYxw7HUHIgZFBAzHF/qDIgZDtBkQMxwLKXNgJjheLXLgPG66aYhAxx66HGwOfTI4sA7tMvBer+1yIHFoWc/B1eGPLgzZMGdIQtwBg5IBg5IBg5IBg5IBg5IBg5IBg5IBg5IBgZoBgZoBgZoBgZoBgZAhk8RgAwRUpAyZO6slMGL9ybIIN/dW8qwiMCnDPIDxKcMcxb0TxEBrClDHuwGqCzQqMC/AK0FOhVs6ZrPPO1tUO06mGoDzI0B/GAA9LQroIACCiiggN8Iag6mnwUjG/WkF3PTpGdA9BrQgVV4N1NpI6/nLdc9NKv5GsH7STh2IyM6YfTn0FT4f4FFBq08wETj1LfAy6CXx7BoGPoW7DLY5WEympZK42h8KoSBNg4pjMRxBmGojjMIY3l8EMJgHx8E/2gAn0vhwwWyhN2hkSarUD7HKaCAAvLbF1n5k8oS45TIAAAAAElFTkSuQmCC);
    background-size: contain;
    width: 1em;
    height: 1em;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
}
