body {
    font-family: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
    font-weight: normal;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


body header, body footer, body main {
    margin: 2vh 0;
    width: min(820px, 90vw);
}

body main {
    flex-grow: 2;
}

h1, h2 {
    margin-bottom: 1em;
}

h2 {
    margin-top: 2em;
}

p + p {
    margin-top: 1em;
}

.icon {
    color: transparent;
    text-shadow: 0 0 #000;
}

.projectList {
    margin: 1em 0;
}

.projectList a, .projectList.planned li {
    display: block;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 5px;
    margin: -5px;
    padding: 1em;
}

.projectList a:hover {
    box-shadow: 0 0 10px #000000aa;
}

.projectList.planned li {
    border-color: #aaa;
}

.projectList h2 {
    margin-top: 0;
}

