#alphabet {
    position: absolute;
    right: -2em;
    top: 8em;
    height: 100%;
}

#alphabet ul {
    position: sticky;
    display: block;
    top: 0;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;
    z-index: 3;
}

#alphabet a {
    color: rgb(41, 151, 255);
    text-decoration: none;
}

section {
    position: relative;
}


table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-width: 0;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;
    margin: 1em -0.5em 0;
}

tr {
    /** Safari doesn't support position: relative on tr elements */
    transform: translate(0);
    clip-path: inset(0);
}

th {
    text-align: left;
    position: sticky;
    top: 2.6em;
    background-color: #fff;
    border-bottom: 2px solid #000;
    z-index: 2;
}

th.letter {
    top: 0;
    z-index: 1;
}

th, td {
    padding: 0.5em;
}

table tr:nth-child(2n) {
    background-color: #eee;
}

table tr:hover {
    background-color: rgb(41, 151, 255);
}

table tr.spacer-bottom:hover, table tr.spacer-top:hover {
    background-color: transparent;
}


.spacer-top td {
    height: 2em;
}

.spacer-top, .spacer-bottom {
    background-color: transparent !important;
}

table tr:hover td {
    color: #fff;
}

table tr:hover a::after {
    filter: invert(100%);
}

table a::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

input[type=search] {
    border: 1px solid #000;
    width: 100%;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;
    padding: 0.5em;
    outline: none;
}

input[type=search]:focus {
    outline: 2px solid rgb(41, 151, 255);
}

#searchbox {
    box-shadow: 0 0 10px #000;
}

#results {
    background-color: #fff;
    z-index: 5;
    position: relative;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}

#results a{
    display: block;
    padding: 0.5em;
}

#results a:hover, #results .active a {
    background-color: rgb(41, 151, 255);
    color: #fff;
}

#results a:hover::after, #results .active a::after {
    filter: invert(100%);
}
